[build]
  command = "npm install"
  functions = "netlify/functions"
  publish = "."

[build.environment]
  UPLOAD_DIR = "/tmp/pelangi-temp"
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api"
  status = 200
